@import "./base.css";

#app {
  max-width: 1280px;
  font-weight: normal;
  font-family: "Jaini Purva";
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
